services:
  log-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: log-app
    restart: unless-stopped
    ports:
      - '24688:24688'
    networks:
      log-vpc:
    working_dir: /var/www
    volumes:
      - ./:/var/www

  log-server:
    image: nginx:1.17.10-alpine
    container_name: log-server
    volumes:
      - ./:/var/www
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d
    ports:
      - '80:80'
    networks:
      log-vpc:
    depends_on:
      - log-app
    restart: unless-stopped

networks:
  log-vpc:
    driver: bridge

volumes:
  web-root:
    driver: local